@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #b3daff;

}

li, a, p, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #354146;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-size: 50px;
    cursor: pointer;
    margin-right: auto;
    width:75px;
    font-family: "Montserrat", sans-serif;
    color:#Fdf5ec;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar-links li a, .contact-logo{
    transition: all 0.3s ease 0s;
}

.navbar-links li a:hover {
    color: #Fdf5ec;
}

button {
    color: white;
    padding: 9px 25px;
    background-color: rgb(1, 82, 73, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    width: 250px;
    margin-top: 147px;

    

}    

button:hover {
    background-color: rgb(7, 117, 104, 1);
}

#front-page {
    margin-top: 50px;
    width: 100%;
    height:400px;
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

#left-container {
    width: 400px;
    height:400px;
    float: left;
}

#right-container {
    width: 400px;
    height:400px;
    float: right;
}

.plant-image {
    width: 400px;
    height: 400px;
}

#jack {
    font-family: "Montserrat", sans-serif;
    color: #354146;
    text-decoration: none;
    font-size: 280px;
    font-weight: 500;
    display: inline-block;
    
}


#jack-pic {
    margin-top: 160px;
    width: 100%;
}

#text {
    height:100%;
    padding-left: 50px;
    
}

#intro-hello, #intro-subtext{
    
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 50px;
    

}

#intro-hello {
    color: rgb(7, 117, 104, 1);
    font-size: 52px;
    position: relative;
    margin: 0 auto;
    top: 50%;
    border-right: 2px solid rgb(7, 117, 104, 1);
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}

#intro-name {
    color:#Fdf5ec;
    font-size: 72px;
    margin-top: 20px;
    text-align: left;
    font-weight: 900;

}

#intro-subtext {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background: transparent;
    margin-top: 25px;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
    color: #Fdf5ec;
}

#center-button {
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.contact-button {
    background: transparent;
}

.page-body {
    background-color: white;
}

#main-body {
    height: 1000px;
}

#about-body {
    height: 1000px;
}

#about-header {
    width: 100%;
}

#resume-body {
    height: 400px;
    background-color: #b3daff;
    display: flex;
    justify-content: space-between;
    text-align: right;
}

.footer {
    width: 100%;
    height:300px;
    display: flex;
    justify-content: space-between;
    
}

#footer-text {
    width: 100%;
    color: #Fdf5ec;
    font-size: 36px;
    text-align: left;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

}   

.footer-image {
    height: 300px;
    width: 195px;
}

#footer-image-container {
    height: 300px;
    width: 195;
    float: right;
}

.contact-logos-container {
    margin-top: 100px;
    justify-content: space-between;
    text-align: center;
    display: inline-block;
}

.contact-logo {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.contact-logo:hover {
    opacity: .6;
}

#individual-logos-container {
    float: left;
}

.contact-logo#instagram, .contact-logo#github {
    margin-right: 150px;
}

.typewriter{
    animation: typewriter .9s steps(20) 1s 1 normal both, 
    blinkTextCursor 500ms steps(20) 2s normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: #Fdf5ec;
    }
    to {
        border-right-color: transparent;
    }
}

#testy {
    position: relative;
    top: 50%;
    border-right: 2px solid white;
    overflow: hidden;
}